@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Serif:ital,opsz,wght@1,8..144,500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: grey;
  background-color: #b37bb48a;
  min-height: 100vh;
  min-width: 100vw;
}

.menubar {
  background-color: rgb(22, 210, 119);
  position: relative;
  font-size: 1.4rem;
  margin: 0 -3.1rem 0 -3.1rem;
}

.mode_button {
  margin-left: 3rem;
}

.menu_name {
  margin-left: 0.5rem;
}

.name {
  font-size: 5rem;
  color: rgb(22, 210, 119);
}

.homepage {
  text-align: center;
  margin-top: 8rem;
  font-size: 5rem;
  position: absolute;
}

.items {
  position: absolute;
  margin-left: 2rem;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
}

.textfield {
  padding: 5rem 1rem 1rem;
}

.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 1.8rem,
      #ccc 1.8rem,
      #ccc 1.9rem,
      white 1.9rem
    );
  line-height: 1.9rem;
  padding: 0.5rem 0.6rem;
}

.add {
  margin-top: 6rem;
  margin-left: 3.1rem;
  padding: 0.6rem;
}

#tasks {
  box-sizing: border-box;
  font-family: Garamond, cursive;
  font-size: 1rem;
  margin-top: 6rem;
  padding: 0rem 1rem 1rem 1rem;
  display: grid;
  padding-left: 5rem;
}

#tasks ol {
  width: 50rem;
  height: 35rem;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #1b1b1b;
  margin-top: -5rem;
}

#tasks ol ::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

.pattern {
  height: 95%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.content {
  padding-top: 0.4rem;
  padding-left: 3.5rem;
  padding-right: 1rem;
  line-height: 1.56rem;
  font-family: Garamond, cursive;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.title {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}

#tasks ol li {
  padding: 0rem 0 0 1rem;
}
