textarea.notes {
  line-height: 1.9rem;
  padding: 0.5rem 0.6rem;
  text-align: center;
  display: block;
  margin-left: 5%;
  margin-top: 10vh;
  overflow: auto;
  position: relative;
  width: 95%;
  resize: vertical;
  height: 20%;
}

.trash-delete {
  margin-left: 1rem;
  border: none;
  background-color: inherit;
}

.tasks {
  margin-top: 2vh;
}

.tasks ol {
  width: 50vw;
  height: 80vh;
  position: relative;
}

.tasks ol ::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

.pattern-light {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  overflow: auto;
  border: solid;
  border-width: 2px;
}

.pattern-dark {
  height: 100%;
  background-image: repeating-linear-gradient(black 0px, black 24px, teal 25px);
  overflow: auto;
  border: solid;
  border-width: 2px;
}

.content {
  padding-top: 0.4rem;
  padding-left: 3.5rem;
  padding-right: 1rem;
  line-height: 1.56rem;
  font-family: Garamond, cursive;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.title {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}

.homepage {
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}

.name {
  color: rgb(22, 210, 119);
  font-size: 60px;
}

.buttons {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}

.tasks {
  word-wrap: break-word;
  display: flex;
  justify-content: center;
}

.mode-button {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}
